.editor_tb_base {
  -fx-background-color: #141414;
}

.editor_tb_menubar {
  -fx-background-color: #141414;
  -fx-use-system-menu-bar: true;
}
.editor_tb_menubar .menu .label {
  -fx-text-fill: #969696;
}
.editor_tb_menubar .menu .menu > .right-container > .arrow {
  -fx-text-fill: #f0f0f0;
  -fx-mark-color: #f0f0f0;
}
.editor_tb_menubar .menu .menu-item {
  -fx-background-color: #282828;
}
.editor_tb_menubar .menu .menu-item .label {
  -fx-text-fill: #f0f0f0;
}
.editor_tb_menubar .menu .menu-item:hover {
  -fx-background-color: #323232;
}
.editor_tb_menubar .menu .check-menu-item:checked {
  -fx-text-fill: #f0f0f0;
  -fx-mark-color: #f0f0f0;
}
.editor_tb_menubar .menu:hover, .editor_tb_menubar .menu:focused, .editor_tb_menubar .menu:showing {
  -fx-background-color: #282828;
}
.editor_tb_menubar .menu:hover .label, .editor_tb_menubar .menu:focused .label, .editor_tb_menubar .menu:showing .label {
  -fx-text-fill: #f0f0f0;
}

.editor_board_tb {
  -fx-background-color: rgba(0, 0, 0, 0.65);
  -fx-padding: 5px 10px 5px 10px;
}
.editor_board_tb .editor_board_tb_toggle {
  -fx-text-fill: white;
  -fx-background-color: transparent;
  -fx-padding: 0 0 0 0;
  -fx-background-radius: 3px;
}
.editor_board_tb .editor_board_tb_toggle:selected {
  -fx-background-color: white;
  -fx-text-fill: black;
}
.editor_board_tb .label {
  -fx-text-fill: white;
}

.game_tree_toolbar {
  -fx-background-color: #323232;
}

.editor_sidebar_tabpane {
  -fx-padding: 2px;
  -fx-background-color: #282828;
}
.editor_sidebar_tabpane *.tab-header-area {
  -fx-padding: 10px 3px -1px 3px;
  -fx-focus-color: transparent;
  -fx-faint-focus-color: transparent;
  -fx-background-color: #282828;
}
.editor_sidebar_tabpane *.tab-header-area .tab-header-background {
  -fx-background-color: #282828;
}
.editor_sidebar_tabpane .tab {
  -fx-background-color: #282828;
  -fx-padding: 1px 10px 1px 10px;
  -fx-background-radius: 0px;
}
.editor_sidebar_tabpane .tab:selected {
  -fx-background-color: #323232;
}
.editor_sidebar_tabpane .tab:selected .tab-label {
  -fx-text-fill: #969696;
}

.game_tree_scroll_pane {
  -fx-border-insets: 0px;
  -fx-padding: 0px;
}
.game_tree_scroll_pane .viewport {
  -fx-background-color: #323232;
}
.game_tree_scroll_pane *.scroll-bar {
  -fx-background-color: #323232;
  -fx-background-insets: 0px;
  -fx-border-insets: 0px;
}
.game_tree_scroll_pane *.scroll-bar .thumb {
  -fx-background-color: #969696;
}
.game_tree_scroll_pane .corner {
  -fx-background-color: #323232;
  -fx-background-insets: 0px;
  -fx-border-insets: 0px;
}

.editor_side_toolbar {
  -fx-background-color: #323232;
}
.editor_side_toolbar .tool-bar {
  -fx-background-color: inherit;
  -fx-padding: 9px 5px 9px 5px;
}
.editor_side_toolbar .tool-bar .button {
  -fx-text-fill: white;
  -fx-background-color: #282828;
  -fx-padding: 2px 4px 2px 4px;
  -fx-background-radius: 3px;
}
.editor_side_toolbar .tool-bar .button:hover {
  -fx-background-color: #ffb44a;
}
.editor_side_toolbar .tool-bar .combo-box {
  -fx-background-color: #282828;
}
.editor_side_toolbar .tool-bar .combo-box .list-cell {
  -fx-padding: 2px 4px 2px 4px;
  -fx-text-fill: #969696;
}
.editor_side_toolbar .tool-bar .combo-box .combo-box-popup .list-view, .editor_side_toolbar .tool-bar .combo-box .combo-box-popup .list-cell {
  -fx-background-color: #282828;
  -fx-text-fill: #969696;
}
.editor_side_toolbar .tool-bar .combo-box .combo-box-popup .list-cell:hover {
  -fx-background-color: #ffb44a;
  -fx-text-fill: black;
}
.editor_side_toolbar .tool-bar .combo-box:hover {
  -fx-background-color: #ffb44a;
}
.editor_side_toolbar .tool-bar .combo-box:hover .list-cell {
  -fx-text-fill: #141414;
}

.editor_node_comments {
  -fx-text-fill: #969696;
  -fx-focus-color: transparent;
  -fx-faint-focus-color: transparent;
  -fx-border-radius: 0px;
  -fx-background-radius: 0px;
  -fx-background-color: #282828;
  -fx-prompt-text-fill: #969696;
}
.editor_node_comments .content {
  -fx-text-fill: #969696;
  -fx-background-color: #282828;
  -fx-background-radius: 0px;
}
.editor_node_comments .scroll-pane {
  -fx-background-color: #282828;
}
.editor_node_comments .scroll-pane *.scroll-bar {
  -fx-background-color: #323232;
}
.editor_node_comments .scroll-pane *.scroll-bar .thumb {
  -fx-background-color: #969696;
}

.split-pane {
  -fx-background-color: black;
  -fx-background-insets: 0px;
  -fx-padding: 0px;
}
.split-pane *.split-pane-divider {
  -fx-background-color: #323232;
  -fx-padding: 1px;
}

.context-menu {
  -fx-padding: 0px;
}
.context-menu .menu-item {
  -fx-padding: 5px 0px 5px 9px;
}

.separator {
  -fx-background-color: #282828;
  -fx-border-color: #282828;
}
.separator .line {
  -fx-border-color: #323232;
  -fx-border-insets: 0px;
}

.toggle-button {
  -fx-background-insets: 0px;
}

/*# sourceMappingURL=megumi.css.map */
