.tool-bar, .menu-bar, .split-pane {
  -fx-border-color: transparent;
  -fx-border-insets: 0px;
  -fx-border-width: 0px;
  -fx-background-color: #333333;
}

.menu-bar {
  -fx-padding: 0px;
  -fx-box-border: transparent;
  -fx-background-color: #333333;
}

.menu .label {
  -fx-text-fill: #CCCCCC;
}

.menu:hover, .menu:showing {
  -fx-background-color: #CCCCCC;
}
.menu:hover .label, .menu:showing .label {
  -fx-text-fill: #5C5C5C;
}

.menu:showing > .menu:showing {
  -fx-background-color: #4A7BB0;
}

.context-menu {
  -fx-background-color: #CCCCCC;
  -fx-padding: 0px;
  -fx-box-border: transparent;
  -fx-border-insets: 0px;
}

.menu-item .label {
  -fx-text-fill: #5C5C5C;
}

.menu-item:focused {
  -fx-background-color: #4A7BB0;
}
.menu-item:focused .label {
  -fx-text-fill: white;
}

/* Buttons */
.tool-bar .button, .tool-bar .toggle-button {
  -fx-border-radius: 4px;
  -fx-background-radius: 4px;
  -fx-padding: 6px;
}
.tool-bar .button .tool-bar-style2, .tool-bar .toggle-button .tool-bar-style2 {
  -fx-background-color: transparent;
}

.label {
  -fx-text-fill: #c8c8c8;
}

.button, .toggle-button {
  -fx-background-color: #5C5C5C;
  -fx-text-fill: #c8c8c8;
}

.button:hover, .toggle-button:hover {
  -fx-background-color: #676767;
}

.button-default {
  -fx-background-color: #4A7BB0;
}

.button-default:hover {
  -fx-background-color: #5f8cbc;
}

.toggle-button:selected {
  -fx-background-color: #4A7BB0;
}

.button-style2 {
  -fx-background-color: transparent;
}

.button-style2:hover {
  -fx-background-color: transparent;
}

.button-style2:selected {
  -fx-background-color: #DDDDDD;
}

.button-style3 {
  -fx-background-color: transparent;
}

.button-style3:hover {
  -fx-background-color: rgba(1, 1, 1, 0.4);
}

.button-style3:selected {
  -fx-background-color: #DDDDDD;
}

/* Containers and Panes */
.parent, .split-pane, .pane, .border-pane {
  -fx-border-color: transparent;
  -fx-border-width: 0px;
  -fx-border-insets: 0px;
  -fx-box-border: transparent;
  -fx-padding: 0px;
}

.split-pane-divider {
  -fx-padding: 0px 0px 0px 0px;
  -fx-border-insets: 0px;
  -fx-border-color: transparent;
  -fx-background-color: #2B2B2B;
  -fx-background-insets: 0px;
}

.modal-content-container {
  -fx-background-color: #333333;
  -fx-background-radius: 10px;
  -fx-border-radius: 10px;
  -fx-border-width: 3px;
  -fx-border-color: #2B2B2B;
}

.modal-content-info {
  -fx-border-color: #4A7BB0;
}

.modal-content-warning {
  -fx-border-color: #ffa03b;
}

.modal-content-error {
  -fx-border-color: #b72121;
}

.bg-dark {
  -fx-background-color: #2B2B2B;
}

.bg-dark-secondary {
  -fx-background-color: #333333;
}

.fg-dark {
  -fx-text-fill: #CCCCCC;
}

.fg-dark-secondary {
  -fx-text-fill: #7B7B7B;
}

.fg-light {
  -fx-text-fill: #DDDDDD;
}

/* Component presets */
.dark-scroll-pane-container .scroll-pane {
  -fx-background-color: #333333;
  -fx-background-radius: 0px;
}
.dark-scroll-pane-container .scroll-pane .content {
  -fx-background-color: #333333;
  -fx-background-radius: 0px;
}
.dark-scroll-pane-container .scroll-pane *.scroll-bar {
  -fx-background-color: #333333;
}
.dark-scroll-pane-container .scroll-pane *.scroll-bar .decrement-button {
  -fx-background-color: inherit;
}
.dark-scroll-pane-container .scroll-pane *.scroll-bar .track {
  -fx-background-color: inherit;
}
.dark-scroll-pane-container .scroll-pane *.scroll-bar .thumb {
  -fx-background-color: #7B7B7B;
}
.dark-scroll-pane-container .scroll-pane *.scroll-bar .increment-button {
  -fx-background-color: inherit;
}

* {
  -fx-font-smoothing-type: gray;
}

/*# sourceMappingURL=skin.css.map */
