@import "palette.sass"

// Not ideal that we have editor content in the common module :(
.editor-player-name-hud-label
  -fx-text-fill: white
  -fx-font-weight: bold
  -fx-font-size: 16px
  -fx-pref-height: 28px

.editor-player-rank-hud-label
  -fx-text-fill: rgb(200, 200, 200)
  -fx-font-weight: normal
  -fx-font-size: 14px

.editor-move-number-hud-label
  -fx-text-fill: rgb(175, 175, 175)

.editor-player-info-toolbar
  -fx-background-color: rgb(40,40,40)

.editor-comment-viewer
  -fx-background-color: $BACKGROUND_DARK_SECONDARY
  -fx-focus-traversable: false
  -fx-background-radius: 0px
  -fx-border-insets: 0px
  -fx-text-fill: $FOREGROUND_DARK
  -fx-font-size: 14px

  .scroll-pane
    -fx-background-color: $BACKGROUND_DARK_SECONDARY
    -fx-background-radius: 0px

    .content
      -fx-background-color: $BACKGROUND_DARK_SECONDARY
      -fx-background-radius: 0px

    *.scroll-bar
      -fx-background-color: $BACKGROUND_DARK_SECONDARY

      .decrement-button
        -fx-background-color: inherit
      .track
        -fx-background-color: inherit
      .thumb
        -fx-background-color: $FOREGROUND_DARK_SECONDARY
      .increment-button
        -fx-background-color: inherit