@import "palette.sass"

.bg-transparent
  -fx-background-color: transparent

.bg-black-50
  -fx-background-color: rgba(0, 0, 0, 0.5)

.bg-black-60
  -fx-background-color: rgba(0, 0, 0, 0.6)

.fg-dark
  -fx-text-fill: $FOREGROUND_DARK

.fg-dark-secondary
  -fx-text-fill: $FOREGROUND_DARK_SECONDARY