@import GameEditorMenuBar
@import GameBoardToolBar
@import GameTreeToolBar
@import ../constants

// Sidebar tab pane (for GameTree etc.)
.editor_sidebar_tabpane
    -fx-padding: 2px
    -fx-background-color: $COLOR_PRIMARY

    *.tab-header-area
        -fx-padding: 10px 3px -1px 3px
        -fx-focus-color: transparent
        -fx-faint-focus-color: transparent
        -fx-background-color: $COLOR_PRIMARY

        .tab-header-background
            -fx-background-color: $COLOR_PRIMARY

    .tab
        -fx-background-color: $COLOR_PRIMARY
        -fx-padding: 1px 10px 1px 10px
        -fx-background-radius: 0px

    .tab:selected
        -fx-background-color: $COLOR_PRIMARY_LIGHTER

        .tab-label
            -fx-text-fill: $COLOR_FOREGROUND_SECONDARY

.game_tree_scroll_pane
    -fx-border-insets: 0px
    -fx-padding: 0px
    .viewport
        -fx-background-color: $COLOR_PRIMARY_LIGHTER

    *.scroll-bar
        -fx-background-color: $COLOR_PRIMARY_LIGHTER
        -fx-background-insets: 0px
        -fx-border-insets: 0px
        .thumb
            -fx-background-color: $COLOR_FOREGROUND_SECONDARY

    .corner
        -fx-background-color: $COLOR_PRIMARY_LIGHTER
        -fx-background-insets: 0px
        -fx-border-insets: 0px

// Main side toolbar on top right
.editor_side_toolbar
    -fx-background-color: $COLOR_PRIMARY_LIGHTER

    .tool-bar
        -fx-background-color: inherit
        -fx-padding: 9px 5px 9px 5px

        .button
            -fx-text-fill: white
            -fx-background-color: $COLOR_PRIMARY
            -fx-padding: 2px 4px 2px 4px
            -fx-background-radius: 3px

        .button:hover
            -fx-background-color: $COLOR_SECONDARY

        .combo-box
            -fx-background-color: $COLOR_PRIMARY

            .list-cell
                -fx-padding: 2px 4px 2px 4px
                -fx-text-fill: $COLOR_FOREGROUND_SECONDARY

            .combo-box-popup
                .list-view, .list-cell
                    -fx-background-color: $COLOR_PRIMARY
                    -fx-text-fill: $COLOR_FOREGROUND_SECONDARY

                .list-cell:hover
                    -fx-background-color: $COLOR_SECONDARY
                    -fx-text-fill: black

        .combo-box:hover
            -fx-background-color: $COLOR_SECONDARY

// Comment TextArea for GameNode
.editor_node_comments
    -fx-text-fill: $COLOR_FOREGROUND_SECONDARY
    -fx-focus-color: transparent
    -fx-faint-focus-color: transparent
    -fx-border-radius: 0px
    -fx-background-radius: 0px
    -fx-background-color: $COLOR_PRIMARY
    -fx-prompt-text-fill: $COLOR_FOREGROUND_SECONDARY

    .content
        -fx-text-fill: $COLOR_FOREGROUND_SECONDARY
        -fx-background-color: $COLOR_PRIMARY
        -fx-background-radius: 0px

    .scroll-pane
        -fx-background-color: $COLOR_PRIMARY

        *.scroll-bar
            -fx-background-color: $COLOR_PRIMARY_LIGHTER

            .thumb
                -fx-background-color: $COLOR_FOREGROUND_SECONDARY