@import ../constants

.editor_board_tb
    -fx-background-color: rgba(0, 0, 0, 0.65)
    -fx-padding: 5px 10px 5px 10px

    .editor_board_tb_toggle
        -fx-text-fill: white
        -fx-background-color: transparent
        -fx-padding: 0 0 0 0
        -fx-background-radius: 0px

    .editor_board_tb_toggle:selected
        -fx-background-color: $COLOR_SECONDARY
        -fx-text-fill: black

    .label
        -fx-text-fill: white
